html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 960px;
  height: 600px;
  border-radius: 6px;
  overflow: auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 50px;
  display: flex;
  background: #F9F9F9;
}

.app-name {
  height: 50px;
  background: #F7F7F7;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-area {
  flex: 1;
  height: 50px;
}

.app-search-setting {
  display: flex;
  align-items: center;
}

.content-container {
  flex: 1;
  display: flex;
  overflow: auto;
}

.app-sidemenu {
  width: 200px;
  overflow: auto;
  background-color: #EDEDED;
}

.user-info {
  display: flex;
  height: 60px;
  padding-left: 10px;
  align-items: center;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #E0E0E0;
}

.user-info .no-login {
  color: #333333;
}

.app-sidemenu .nav {
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
}

.app-sidemenu .nav.active {
  color: #c3463a;
  background: #e2e2e2;
}

.app-sidemenu .nav-icon {
  margin-right: 10px;
  font-size: 18px;
}

.app-main {
  flex: 1;
  overflow: auto;
}

.app-footer {
  height: 50px;
  background-color: orange;
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
  height: 30px;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
